#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
.navbar-default {
	color: #000000;
    background-color: #000000;
}

  .navbar-nav {
    width: 100%;
    text-align: center;
    
    
  }

.navbar-nav li {
      float: none;
display: inline-block;}

@font-face {
    font-family: LeviReBrushed;
    src: url(LeviRebrushed.tff)format('embedding-opentype');
}

body {
    background-image: url("../img/smoke.jpg");
	
   
}

